# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim swap and undo files
*.un~
*.swp

# CMake Files
CMakeCache.txt
CMakeFiles/
SimpLogConfig.h
Makefile
cmake_install.cmake
install_manifest.txt
build/
